In [44]:
#sentiment analysis
import pandas as pd

reddit = pd.read_csv("RedditNews.csv", engine="python", sep=",", error_bad_lines=False)

# Show DataFrame
reddit.head()

     Date                                              Title
0  7/1/16   IMF chief backs Athens as permanent Olympic host
1  7/1/16  The president of France says if Brexit won, so...
2  7/1/16  British Man Who Must Give Police 24 Hours' Not...
3  7/1/16  100+ Nobel laureates urge Greenpeace to stop o...
4  7/1/16  Brazil: Huge spike in number of police killing...

In [45]:
import nltk
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer,PorterStemmer
from nltk.corpus import stopwords
import re
#nltk.download('wordnet')

In [46]:
lemmatizer = WordNetLemmatizer()
stemmer = PorterStemmer() 

def preprocess(sentence):
    sentence=str(sentence)
    sentence = sentence.lower()
    sentence=sentence.replace('{html}',"") 
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', sentence)
    rem_url=re.sub(r'http\S+', '',cleantext)
    rem_num = re.sub('[0-9]+', '', rem_url)
    tokenizer = RegexpTokenizer(r'\w+')
    tokens = tokenizer.tokenize(rem_num)  
    filtered_words = [w for w in tokens if len(w) > 2 if not w in stopwords.words('english')]
    stem_words=[stemmer.stem(w) for w in filtered_words]
    lemma_words=[lemmatizer.lemmatize(w) for w in stem_words]
    return " ".join(filtered_words)


reddit['cleanText']=reddit['Title'].map(lambda s:preprocess(s))

In [47]:
reddit.head()

,Date,Title,cleanText
0,7/1/16,IMF chief backs Athens as permanent Olympic host,imf chief backs athens permanent olympic host
1,7/1/16,"The president of France says if Brexit won, so...",president france says brexit donald trump
2,7/1/16,British Man Who Must Give Police 24 Hours' Not...,british man must give police hours notice sex ...
3,7/1/16,100+ Nobel laureates urge Greenpeace to stop o...,nobel laureates urge greenpeace stop opposing ...
4,7/1/16,Brazil: Huge spike in number of police killing...,brazil huge spike number police killings rio a...

In [48]:
reddit['Date'] =  pd.to_datetime(reddit['Date'])
reddit.head()

,Date,Title,cleanText
0,2016-07-01,IMF chief backs Athens as permanent Olympic host,imf chief backs athens permanent olympic host
1,2016-07-01,"The president of France says if Brexit won, so...",president france says brexit donald trump
2,2016-07-01,British Man Who Must Give Police 24 Hours' Not...,british man must give police hours notice sex ...
3,2016-07-01,100+ Nobel laureates urge Greenpeace to stop o...,nobel laureates urge greenpeace stop opposing ...
4,2016-07-01,Brazil: Huge spike in number of police killing...,brazil huge spike number police killings rio a...

In [49]:
from sklearn.feature_extraction.text import CountVectorizer

In [50]:
#pip install vaderSentiment

In [51]:
#pip install --upgrade vaderSentimen

In [52]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [53]:
preprocess = []
analyzer = SentimentIntensityAnalyzer()
for clean in reddit['cleanText']:
    vs = analyzer.polarity_scores(clean)
    preprocess.append(vs)

In [54]:
#positive sentiment: compound score >= 0.05
#neutral sentiment: (compound score > -0.05) and (compound score < 0.05)
#negative sentiment: compound score <= -0.05

In [55]:
df3 = pd.DataFrame(preprocess)

In [56]:
df4 = pd.concat([reddit,df3], axis=1)

In [57]:
djia = pd.read_csv("DJIA.csv", engine="python", sep=",", error_bad_lines=False)

In [58]:
djia.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141
1,2016-06-30,17712.759766,17930.609375,17711.800781,17929.990234,133030000,17929.990234
2,2016-06-29,17456.019531,17704.509766,17456.019531,17694.679688,106380000,17694.679688
3,2016-06-28,17190.509766,17409.720703,17190.509766,17409.720703,112190000,17409.720703
4,2016-06-27,17355.210938,17355.210938,17063.080078,17140.240234,138740000,17140.240234

In [59]:
djia['Date'] =  pd.to_datetime(djia['Date'], format='%Y-%m-%d')

In [60]:
merge = pd.merge(df4,djia, how='inner', on = 'Date')

In [61]:
merge.head()

,Date,Title,cleanText,compound,neg,neu,pos,Open,High,Low,Close,Volume,Adj Close
0,2016-07-01,IMF chief backs Athens as permanent Olympic host,imf chief backs athens permanent olympic host,-0.0516,0.167,0.833,0.000,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141
1,2016-07-01,"The president of France says if Brexit won, so...",president france says brexit donald trump,0.0000,0.000,1.000,0.000,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141
2,2016-07-01,British Man Who Must Give Police 24 Hours' Not...,british man must give police hours notice sex ...,-0.8210,0.413,0.587,0.000,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141
3,2016-07-01,100+ Nobel laureates urge Greenpeace to stop o...,nobel laureates urge greenpeace stop opposing ...,-0.2960,0.268,0.732,0.000,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141
4,2016-07-01,Brazil: Huge spike in number of police killing...,brazil huge spike number police killings rio a...,-0.4404,0.319,0.426,0.255,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141

In [62]:
returns = (merge.Close - merge.Close.shift(1))/merge.Close.shift(1)
returns.head(51)

0          NaN
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.000000
9     0.000000
10    0.000000
11    0.000000
12    0.000000
13    0.000000
14    0.000000
15    0.000000
16    0.000000
17    0.000000
18    0.000000
19    0.000000
20    0.000000
21    0.000000
22    0.000000
23    0.000000
24   -0.001080
25    0.000000
26    0.000000
27    0.000000
28    0.000000
29    0.000000
30    0.000000
31    0.000000
32    0.000000
33    0.000000
34    0.000000
35    0.000000
36    0.000000
37    0.000000
38    0.000000
39    0.000000
40    0.000000
41    0.000000
42    0.000000
43    0.000000
44    0.000000
45    0.000000
46    0.000000
47    0.000000
48    0.000000
49   -0.013124
50    0.000000
Name: Close, dtype: float64

In [63]:
merge['returns'] = returns

In [64]:
merge.head()

,Date,Title,cleanText,compound,neg,neu,pos,Open,High,Low,Close,Volume,Adj Close,returns
0,2016-07-01,IMF chief backs Athens as permanent Olympic host,imf chief backs athens permanent olympic host,-0.0516,0.167,0.833,0.000,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141,NaN
1,2016-07-01,"The president of France says if Brexit won, so...",president france says brexit donald trump,0.0000,0.000,1.000,0.000,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141,0.0
2,2016-07-01,British Man Who Must Give Police 24 Hours' Not...,british man must give police hours notice sex ...,-0.8210,0.413,0.587,0.000,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141,0.0
3,2016-07-01,100+ Nobel laureates urge Greenpeace to stop o...,nobel laureates urge greenpeace stop opposing ...,-0.2960,0.268,0.732,0.000,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141,0.0
4,2016-07-01,Brazil: Huge spike in number of police killing...,brazil huge spike number police killings rio a...,-0.4404,0.319,0.426,0.255,17924.240234,18002.380859,17916.910156,17949.369141,82160000,17949.369141,0.0

In [67]:
df5 = pd.concat(df4['Date'], axis=0, join='outer')

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "Series"

In [71]:
pd.concat([df4,djia], axis=1)

,Date,Title,cleanText,compound,neg,neu,pos,Date,Open,High,Low,Close,Volume,Adj Close
0,2016-07-01,IMF chief backs Athens as permanent Olympic host,imf chief backs athens permanent olympic host,-0.0516,0.167,0.833,0.000,2016-07-01,17924.240234,18002.380859,17916.910156,17949.369141,82160000.0,17949.369141
1,2016-07-01,"The president of France says if Brexit won, so...",president france says brexit donald trump,0.0000,0.000,1.000,0.000,2016-06-30,17712.759766,17930.609375,17711.800781,17929.990234,133030000.0,17929.990234
2,2016-07-01,British Man Who Must Give Police 24 Hours' Not...,british man must give police hours notice sex ...,-0.8210,0.413,0.587,0.000,2016-06-29,17456.019531,17704.509766,17456.019531,17694.679688,106380000.0,17694.679688
3,2016-07-01,100+ Nobel laureates urge Greenpeace to stop o...,nobel laureates urge greenpeace stop opposing ...,-0.2960,0.268,0.732,0.000,2016-06-28,17190.509766,17409.720703,17190.509766,17409.720703,112190000.0,17409.720703
4,2016-07-01,Brazil: Huge spike in number of police killing...,brazil huge spike number police killings rio a...,-0.4404,0.319,0.426,0.255,2016-06-27,17355.210938,17355.210938,17063.080078,17140.240234,138740000.0,17140.240234
5,2016-07-01,Austria's highest court annuls presidential el...,austria highest court annuls presidential elec...,-0.3182,0.187,0.813,0.000,2016-06-24,17946.630859,17946.630859,17356.339844,17400.750000,239000000.0,17400.750000
6,2016-07-01,"Facebook wins privacy case, can track any Belg...",facebook wins privacy case track belgian wants...,0.5859,0.000,0.676,0.324,2016-06-23,17844.109375,18011.070312,17844.109375,18011.070312,98070000.0,18011.070312
7,2016-07-01,Switzerland denies Muslim girls citizenship af...,switzerland denies muslim girls citizenship re...,-0.6124,0.208,0.792,0.000,2016-06-22,17832.669922,17920.160156,17770.359375,17780.830078,89440000.0,17780.830078
8,2016-07-01,China kills millions of innocent meditators fo...,china kills millions innocent meditators organ...,-0.2732,0.294,0.504,0.202,2016-06-21,17827.330078,17877.839844,17799.800781,17829.730469,85130000.0,17829.730469
9,2016-07-01,France Cracks Down on Factory Farms - A viral ...,france cracks factory farms viral video campai...,-0.8402,0.299,0.632,0.069,2016-06-20,17736.869141,17946.359375,17736.869141,17804.869141,99380000.0,17804.869141
10,2016-07-01,Abbas PLO Faction Calls Killer of 13-Year-Old ...,abbas plo faction calls killer year old americ...,-0.6486,0.301,0.699,0.000,2016-06-17,17733.439453,17733.439453,17602.779297,17675.160156,248680000.0,17675.160156
11,2016-07-01,Taiwanese warship accidentally fires missile t...,taiwanese warship accidentally fires missile t...,-0.4767,0.451,0.549,0.000,2016-06-16,17602.230469,17754.910156,17471.289062,17733.099609,91950000.0,17733.099609
12,2016-07-01,"Iran celebrates American Human Rights Week, mo...",iran celebrates american human rights week moc...,0.1779,0.219,0.511,0.270,2016-06-15,17703.650391,17762.960938,17629.009766,17640.169922,94130000.0,17640.169922
13,2016-07-01,U.N. panel moves to curb bias against L.G.B.T....,panel moves curb bias people despite fierce re...,-0.1027,0.123,0.877,0.000,2016-06-14,17710.769531,17733.919922,17595.789062,17674.820312,93740000.0,17674.820312
14,2016-07-01,"The United States has placed Myanmar, Uzbekist...",united states placed myanmar uzbekistan sudan ...,-0.5859,0.359,0.489,0.152,2016-06-13,17830.500000,17893.279297,17731.349609,17732.480469,101690000.0,17732.480469
15,2016-07-01,S&amp;P revises European Union credit rating t...,amp revises european union credit rating,0.3818,0.000,0.658,0.342,2016-06-10,17938.820312,17938.820312,17812.339844,17865.339844,90540000.0,17865.339844
16,2016-07-01,India gets $1 billion loan from World Bank for...,india gets billion loan world bank solar mission,0.0000,0.000,1.000,0.000,2016-06-09,17969.980469,18005.220703,17915.880859,17985.189453,69690000.0,17985.189453
17,2016-07-01,U.S. sailors detained by Iran spoke too much u...,sailors detained iran spoke much interrogation...,-0.4019,0.310,0.690,0.000,2016-06-08,17931.910156,18016.000000,17931.910156,18005.050781,71260000.0,18005.050781
18,2016-07-01,Mass fish kill in Vietnam solved as Taiwan ste...,mass fish kill vietnam solved taiwan steelmake...,-0.3182,0.292,0.435,0.273,2016-06-07,17936.220703,18003.230469,17936.220703,17938.279297,78750000.0,17938.279297
19,2016-07-01,Philippines president Rodrigo Duterte urges pe...,philippines president rodrigo duterte urges pe...,-0.9666,0.566,0.434,0.000,2016-06-06,17825.689453,17949.679688,17822.810547,17920.330078,71870000.0,17920.330078
20,2016-07-01,Spain arrests three Pakistanis accused of prom...,spain arrests three pakistanis accused promoti...,-0.3818,0.440,0.345,0.216,2016-06-03,17799.800781,17833.169922,17689.679688,17807.060547,82270000.0,17807.060547
21,2016-07-01,"Venezuela, where anger over food shortages is ...",venezuela anger food shortages still mounting ...,-0.9397,0.457,0.485,0.058,2016-06-02,17789.050781,17838.560547,17703.550781,17838.560547,75560000.0,17838.560547
22,2016-07-01,A Hindu temple worker has been killed by three...,hindu temple worker killed three men motorcycl...,-0.9432,0.375,0.625,0.000,2016-06-01,17754.550781,17809.179688,17664.789062,17789.669922,78530000.0,17789.669922
23,2016-07-01,Ozone layer hole seems to be healing - US &amp...,ozone layer hole seems healing amp team shows ...,-0.6249,0.141,0.859,0.000,2016-05-31,17891.500000,17899.240234,17724.029297,17787.199219,147390000.0,17787.199219
24,2016-06-30,Jamaica proposes marijuana dispensers for tour...,jamaica proposes marijuana dispensers tourists...,0.0000,0.000,1.000,0.000,2016-05-27,17826.849609,17873.220703,17824.730469,17873.220703,73190000.0,17873.220703
25,2016-06-30,Stephen Hawking says pollution and 'stupidity'...,stephen hawking says pollution stupidity still...,-0.7992,0.391,0.519,0.089,2016-05-26,17859.519531,17888.660156,17803.820312,17828.289062,68940000.0,17828.289062
26,2016-06-30,Boris Johnson says he will not run for Tory pa...,boris johnson says run tory party leadership,0.4019,0.000,0.690,0.310,2016-05-25,17735.089844,17891.710938,17735.089844,17851.509766,79180000.0,17851.509766
27,2016-06-30,Six gay men in Ivory Coast were abused and for...,six gay men ivory coast abused forced flee hom...,-0.8934,0.438,0.562,0.000,2016-05-24,17525.189453,17742.589844,17525.189453,17706.050781,86480000.0,17706.050781
28,2016-06-30,Switzerland denies citizenship to Muslim immig...,switzerland denies citizenship muslim immigran...,-0.6124,0.385,0.615,0.000,2016-05-23,17507.039062,17550.699219,17480.050781,17492.929688,87790000.0,17492.929688
29,2016-06-30,Palestinian terrorist stabs israeli teen girl ...,palestinian terrorist stabs israeli teen girl ...,-0.9100,0.697,0.303,0.000,2016-05-20,17437.320312,17571.750000,17437.320312,17500.939453,111990000.0,17500.939453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65504,2009-04-28,b'World-renowned pianist declares he will not ...,world renowned pianist declares return,0.0000,0.000,1.000,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65505,2009-04-28,"b'""The United States, this fabled land of immi...",united states fabled land immigrants fallen di...,0.6369,0.118,0.519,0.363,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65506,2009-04-28,b'Map of Swine Flu cases; updated in real-time...,map swine flu cases updated real time reports ...,-0.3818,0.178,0.822,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65507,2009-04-27,b'The outbreak of swine flu should be renamed ...,outbreak swine flu renamed mexican influenza d...,-0.3818,0.148,0.852,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65508,2009-04-27,"b""'Panic Can Spread More Quickly Than Swine Flu'""",panic spread quickly swine flu,-0.7096,0.663,0.337,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65509,2009-04-27,"b'First the swine flu, now an earthquake. Mexi...",first swine flu earthquake mexico city doomed,-0.7783,0.576,0.424,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65510,2009-04-27,b'British Government Plan to monitor all inter...,british government plan monitor internet use w...,0.0000,0.000,1.000,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65511,2009-04-27,b'How an FBI agent got Abu Zubaydah to talk wi...,fbi agent got abu zubaydah talk without torture,0.4847,0.000,0.690,0.310,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65512,2009-04-27,b'Peering into North Korea',peering north korea,0.0000,0.000,1.000,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65513,2009-04-27,b'Sweden has the highest incidence of reported...,sweden highest incidence reported rapes europe...,-0.6705,0.290,0.710,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65514,2009-04-27,b'Map showing the spread of the swine virus',map showing spread swine virus,0.0000,0.000,1.000,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65515,2009-04-27,"b""Israel's secret plan for West Bank expansion...",israel secret plan west bank expansion middle ...,0.0000,0.000,1.000,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65516,2009-04-27,"b""This will end well: Jerusalem settlement 'ex...",end well jerusalem settlement extended,0.2732,0.000,0.656,0.344,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65517,2009-04-27,b'Give us back our private lives - UK governme...,give back private lives government unveils pla...,0.0000,0.000,1.000,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65518,2009-04-27,"b""Poland's Secret CIA Prison""",poland secret cia prison,-0.5106,0.524,0.476,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65519,2009-04-27,b'Europes first case of swine flu confirmed in...,europes first case swine flu confirmed spain,-0.3818,0.302,0.698,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65520,2009-04-27,b'WHO raises pandemic alert to phase 4.',raises pandemic alert phase,0.2960,0.000,0.577,0.423,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65521,2009-04-27,b'Peaceful Palestinian demonstrations met with...,peaceful palestinian demonstrations met israel...,0.4939,0.000,0.758,0.242,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65522,2009-04-27,b'First lesbian prime minister wins Iceland el...,first lesbian prime minister wins iceland elec...,0.5719,0.000,0.709,0.291,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65523,2009-04-27,"b""EU warning: Don't travel to U.S., Mexico. W...",warning travel mexico warning comes spain repo...,-0.7506,0.425,0.575,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65524,2009-04-27,b'British nuclear subs repeatedly leaked radio...,british nuclear subs repeatedly leaked radioac...,-0.3182,0.277,0.723,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65525,2009-04-27,b'The arms trade has expanded by more than 20%...,arms trade expanded worldwide past five years ...,-0.1531,0.103,0.816,0.082,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65526,2009-04-27,b'Iran arms ship bound for Gaza downed near Su...,iran arms ship bound gaza downed near sudan,0.0000,0.000,1.000,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65527,2009-04-27,b'The likely next leader of North Korea has be...,likely next leader north korea chosen,0.0000,0.000,1.000,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65528,2009-04-27,b'Four-year-old could hold key in search for s...,four year old could hold key search source swi...,-0.3818,0.206,0.794,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65529,2009-04-27,b'The worlds climate scientists in both public...,worlds climate scientists public private admit...,-0.5719,0.333,0.566,0.101,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65530,2009-04-27,b'UK government scrap plans for the goverment ...,government scrap plans goverment run internet ...,0.0000,0.000,1.000,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65531,2009-04-27,"b'Over 100 dead in Mexico flu outbreak, market...",dead mexico flu outbreak markets jittery,-0.7845,0.633,0.367,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65532,2009-04-26,"b'""I work as a resident doctor in one of the b...",work resident doctor one biggest hospitals mex...,-0.4215,0.203,0.797,0.000,NaT,NaN,NaN,NaN,NaN,NaN,NaN
65533,2009-04-26,"b'London Cop\'s Facebook: ""Rob Ward can\'t wai...",london cop facebook rob ward wait bash long ha...,0.2960,0.190,0.561,0.249,NaT,NaN,NaN,NaN,NaN,NaN,NaN